/* General Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Basic Layout */
body {
  font-family: "Source Code Pro", monospace;
}

.logo {
  align-self: center;
  font-size: 12px;
  font-weight: 700;
  text-decoration: uppercase;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Sidebar Navigation */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  padding-top: 20px;
  transition: width 0.3s, visibility 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  display: block;
  transition: color 0.3s, opacity 0.3s;
  padding-left: 30px;
  margin: 10px;
}

.sidebar ul li a:hover {
  color: #666; /* Dimmed color */
  opacity: 0.7; /* Slightly transparent */
}


/* Hamburger Menu */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s;
}
/* Main Content */
main {
  margin-left: 220px; /* Space for the sidebar */
  padding: 20px;
  flex-grow: 1;
  padding-top: 60px;
}


/* Section Styling */
.about,
.experience,
.skills,
.projects {
  margin-bottom: 30px;
}

.clients {
  border-bottom: 1px solid gray;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.clients h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.clients ul li {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.experience {
  border-bottom: 1px solid gray;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.experience h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.experience h3 {
  font-size: 12px;
}

.experience p {
  font-size: 12px;
}

.experience ul li {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.skills {
  border-bottom: 1px solid gray;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.skills h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skills ul li {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.tools {
  border-bottom: 1px solid gray;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.tools h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tools ul li {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.education {
  border-bottom: 1px solid gray;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.education h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.education h3 {
  font-size: 12px;
}

.education p {
  font-size: 12px;
}

.education ul li {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.social {
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px 200px;
}

.social h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.social h3 {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}
.social h3 a {
  text-decoration: none;
  color: blue;
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0;
}

.social h3 a:hover {
  color: purple;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #fff; /* You can change the background color if needed */
  color: #333;
  font-size: 12px;
}

footer p {
  margin: 0;
}


/**/
@media (max-width: 768px) {
    

  .logo {
    font-size: 9px;
  }

  section h2 {
    font-size: 13px;
  }

  section p,
  section ul li {
    font-size: 11px;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
    background-color: white; /* Red background for hamburger */
    padding: 10px; /* Added padding for better clickability */
    width: 100%; /* Full width */
    position: fixed;
    top: 0;
    left: 0; /* Ensure it stretches from left to right */
    z-index: 1001; /* Higher than other elements */
  }


  .hamburger div { /* White color for hamburger lines */
    width: 30px; /* Width of the hamburger lines */
    height: 3px;
    margin: 5px 0;
  }

  .sidebar {
    position: fixed;
    left: 0; /* Sidebar will open from the right */
    left: auto; /* Override left positioning */
    width: 0;
    visibility: hidden;
    overflow: hidden;
    transition: width 0.3s, visibility 0.3s;
  }

  .sidebar.active {
    width: 160px;
    visibility: visible;
  }

  main {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap; /* Wraps content to new row */
    justify-content: space-around;
}
iframe {
    width: 48%; /* Make iframes take up about 50% of the screen width */
    margin: 10px 0; /* Adds margin between iframes */
}

.clients,
  .experience,
  .skills,
  .tools,
  .education,
  .social {
    max-width: 100%;
    margin: 20px;
  }

  .clients h2,
  .experience h2,
  .skills h2,
  .tools h2,
  .education h2,
  .social h2 {
    font-size: 12px;
  }

  .clients ul li,
  .experience ul li,
  .skills ul li,
  .tools ul li,
  .education ul li {
    font-size: 10px;
  }

  .experience h3,
  .skills h3,
  .education h3 {
    font-size: 10px;
  }

  .experience p,
  .education p {
    font-size: 10px;
  }

  .social h3 {
    font-size: 10px;
  }

  .social h3 a {
    font-size: 10px;
  }

}
